<div class="row">
    <div class="large-12 show-for-middle columns" role="content">
        {{#view 'form.foundation'}}
        <fieldset>
            <legend>User</legend>
            <div class="row">
                <div class="large-12 show-for-middle columns">
                <table width="100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each content}}
                    {{#if isEditing}}
                    <tr>
                        <td>{{view Ember.TextField valueBinding="name" }}</th>
                        <td>
                            <button {{action 'openModal' 'confirm_delete' this}} data-reveal-id="confirm_modal" data-reveal>Delete{{id}}</button>
                        </th>
                    </tr>
                    {{else}}
                    <tr>
                        <td>{{name}}</th>
                        <td></th>
                    </tr>
                    {{/if}}
                    {{/each}}
                    
                    </tbody>
                    <tfoot>
                    <tr>
                        <td width="150">{{view 'input.currency' valueBinding="controller.newUserName" placeholder="Name"}}</td>
                        <td width="150"><button class="budget-button" {{action 'addUser'}}>Add</button></td>
                    </tr>
                    </tfoot>
                </table>
                </div>            
            </div>
        </fieldset>         
        {{/view}}
    </div>
</div>
