<div class="row">
    <div class="large-3 medium-4 columns">
        
        {{view 'calendar'}} 
        
    </div>
    <div class="large-9 medium-8 columns" role="content">
        
        
        {{render "filter.user" user}}

        <table>
            <thead>
                <tr>                    
                    {{view 'table.header-sort' text="Date" property="date" }}
                    {{view 'table.header-sort' text="Business" property="business" }}
                    {{view 'table.header-sort' text="Amount" property="amount" }}
                    <td width="150"></td>
                </tr>
            </thead>
            <tbody>
                {{#each budget in controller}}
                <tr>
                    <td width="150">{{format-date date}}</td>
                    <td width="400">{{business}}</td> 
                    <td width="150">{{format-currency amount}}</td>
                    <td width="150"></td>
                </tr>
                {{/each}}
            </tbody>
            <tfooter>
                <tr>
                    <th width="150">{{format-date currentSelectedDate}}</th>
                    <td width="400">{{view Ember.TextField valueBinding="newBusiness" placeholder="Business"}}</td> 
                    <td width="150">{{view 'input.currency' valueBinding="newAount" placeholder="##.##"}}</td>
                    <td width="150"><button class="budget-button" {{action 'addBudget'}}>Add</button></td>
                </tr>
            </tfooter>
        </table>
    </div>
  
</div>